
.hero-content{
    top: 45%;
    flex-wrap: wrap;
}
.hero-section{
    height: 30vh;
    margin-bottom: 40px;
}
.hero-bg{
    height: 100%;
    background: #eee;
 }
.search-category{
    margin-top: 10px;
}

.heading-text hr{
    width: 260px;
    margin-top: -60px;
    height: 2px;
    background: var(--secondry-color);
}
