/* <!-- ========================Photo Slider Section Started==================
 	---------------------------------------------------------------------- --> */
.photo-slider-section{
    margin: 60px 0;
}
.photo-slider-section .photo-slider{
    width: 100%;
}
.photo-slider-section .photo{
    height: 65vh;
    width: 100%;
}
.photo-slider-section .photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}
.photo-slider-section .small-image{
    margin-top: 20px;
    height: 120px;
    width: 120px;
    cursor: pointer;
    display: inline-flex;
}
.photo-slider-section .small-slider-images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.single-property-map{
    width: 100%;
    height: 320px;
    border-radius: 4px;
}
.single-property-map #gmap{
    width: 100%;
    height: 316px;
}
.detailed-descriptions .detail-features, .property-description{
    background: #eee;
    border-radius: 4px;
    padding:20px;
    margin-top: -50px;
}
.features-list ol li{
    margin: 10px 0;
}
.detail-address .paragrapgh-text b, .paragrapgh-text{
    margin: 20px 0;
}


.contact-card{
    background: #eee;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
}
.detailed-descriptions-contact-right ion-icon{
      font-size: 42px;
      color: var(--primary-color);
}
.detailed-descriptions-contact-right a{
    font-size: 16px;
    color: var(--primary-dark2-color);
    font-family: var(--secondry-font);
}
.detailed-descriptions-contact-right a:hover{
    color: var(--primary-color);
    text-decoration: none;
}


/* ============== contact form css ================= */
form .row{
padding: 20px;
}
form .form-item{
    width: 100%;
    margin-top: 20px;
}
form .formInput{
    border-style: none;
    border: 2px solid #666;
    width: 100%;
    font-family: var(--primary-font);
    border-radius: 4px;
    font-size: 15px;
    padding: 5px;
    font-weight: 500;
    transition: 0.3s;
}
form .form-item{
    text-align: left;
}
form .form-item span{
    font-family: var(--primary-font);
    color: #666;
    font-size: 16px;
}
form input:focus{
	outline-width: 0;
	border: 2px solid var(--primary-color);
}

form span{
	color: #888888;
}

form textarea:focus{
	outline-width: 0;
	border: 2px solid var(--primary-color);
}

form button{
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border-style: none;
    font-weight: 600;
    font-size: 0.85rem;
    font-family: var(--secondry-font);
    background-color: var(--primary-color);
    color: #fff; 
    transition: 0.3s;	
}

form button:focus{
	outline-width: 0;
}
form button:hover{
	background-color: var(--primary-dark-color);
}


@media screen and (max-width: 767px) {
    .photo-slider-section .photo{
        height: 40vh;
        width: 100%;
    }
}