*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
}

body{
   color: #444;
   background: #fff;
   font-family:'Mukta', sans-serif;
}

:root{
     font-size: 16px;

   --primary-color:#0469c6;
   --primary-light-color:#a0d1ff;
   --primary-light2-color:#f0f8ff;
   --primary-dark-color:#01529e;
   --primary-dark2-color:#000e1b;

   --secondry-color:#d7494b;
   --secondry-light-color:#d7494b;
   --secondry-light2-color:#d7494b;
   --secondry-dark-color:#d7494b;
   --secondry-dark2-color:#d7494b;

   --text-color-light: #f6fbff;
   --text-color-dark: #00060a;

   --primary-font: 'Barlow', sans-serif;
   --secondry-font:'Noto Sans', sans-serif;
}

.custom-container{
    padding: 0 8%;
}
.center-align-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-align-items2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-text{
    text-align: center;
    margin-bottom: 50px;
}
.heading-text .title, .title-description{
    color: var(--primary-dark2-color);
    font-family: var(--secondry-font);
    text-shadow: none;
    line-height: 20px;
}
.heading-text .title{
    line-height: 28px;
    font-family: var(--primary-font);
}
/*========================Header Section Started==================
----------------------------------------------------------------------*/
.header-section{
  background-color: #fff;
  box-shadow: 0px 0px 2px #828588;
}

.header{
    width: 100%;
    display: flex;
}

/* <!-- header logo --> */
.header .logo-container{
    height: 80px;
    width: auto;
    /* border: 1px solid red; */
}
.header .logo-container img{
    height: 100%;
    width: auto;
    transform: scale(1.4);
 }

 /* <!-- header menu --> */
.header-menu-items a{
    color: var(--text-color-dark);
    font-weight: 500;
 }
 .header-menu-items a:hover{
    text-decoration: none;
    color: var(--primary-dark-color);
 }
 #language a:hover{
    text-decoration: none;
    color: var(--primary-dark-color);
 }
.menu-item{
    margin: 0 10px;
    padding: 6px;
    font-family: var(--primary-font);
    font-size: 16px;
    list-style: none;
    /* border: 1px solid red; */
 }

 /* <!-- sign-in and register (User)--> */
.header-right{margin: 0 10px;
    /* border: 1px solid red; */
}
.header-right a{
    font-family: var(--primary-font);
    color: var(--text-color-dark);
    font-size: 16px;
    font-weight: 500
}
.header-right a:hover{
    color: var(--primary-dark2-color);
    text-decoration: none;
}
#user{
    border: 0;
    padding:3px 6px;
    color: #fff;
    background: var(--primary-color);
}
#user:hover{
    background: var(--primary-dark-color);
}
/* <!-- Submit Property --> */
.header-right button{
    padding:8px 15px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: #fff;
}
.header-right button:hover{
    background: var(--primary-color);
    color: var(--text-color-light);
}

/* <!-- Language selection --> */
.header-right img{
    margin-top: -6px;
}

/* ================ Mobie menu starts ===========================*/
.mobileMenuBars ion-icon{
    font-size: 28px;
    font-weight: 600;
    margin-top: -10px;
    display: none;
}
.mobileMenu{
	height: 100vh;
	width: 0px;
	background: #444;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 12;
	transition: 0.5s;
	transition-duration: 0.5s;
}
.mobileMenu .wrapper .image{
    height: 100px;
    background: #fff;
}
.mobileMenu .wrapper .image img{
    height: 100px;
}
.mobile-menu-list{
    padding-top: 20px;
}
.mobileMenu ul a li{
	list-style: none;
	text-align: left;
	padding: 10px 40px;
	cursor: pointer;
}
.mobileMenu ul a li:hover{
   background: #222;
}
.mobileMenu ul a{
	color: #fff;
	font-size: 16px;
}
.mobileMenu ul a:hover{
	text-decoration: none;
}
.privacyNcontact{
    margin: 0px 20px;
    cursor: pointer;
}
.privacyNcontact a{
    color: #ccc;
    margin-left: 20px;
    font-size: 15px;
}
.privacyNcontact a:hover{
    color: #fff;
    text-decoration: none;
}
#close-sidebar{
	height: 50px;
	width: 50px;
	background: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
    border-bottom-right-radius: 20px;
}
#close-sidebar:hover{
	background: #ddd;
}
#close-sidebar ion-icon{
    color: var(--secondry-color);
    padding: 8px;
    font-size: 28px;
    font-weight: 600;
}
#main-wrap{
	display: none;
}
.overlay{
	 box-shadow:0 0 0 10000px rgba(0,0,0,.50);
}
/* submit roperty, language and user on mobile */
.mb-submit-property-and-language a{
    margin: 0 5px;
}
#mb-signInRegister{
    margin-bottom: -20px;
}


/* ========================Hero Section Started==================
 	---------------------------------------------------------------------- */
.hero-section{
    height: 70vh;
    position: relative;
    background: #000;
}
.hero-bg{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('images/hero.jpg');
    background-position: center center;
    background-size: cover;
}
.hero-content{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero-content .text{
    color: #fff;
    text-align: center;
}
.hero-content .text h1,p{
   text-shadow: 0px 0px 5px #000;
}
.hero-content .text h1{
    font-family: var(--primary-font);
 }
.hero-content .text p{
    margin-top: -6px;
    font-family: var(--secondry-font);
    font-size: 16px;
 }
 .search{
    display: flex;
    padding-top: 25px;
 }
.search input{
    height: 50px;
    width: 100%;
    padding: 0 10px;
    border: 2px solid var(--primary-color);
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    font-family: var(--secondry-font);
    color: #222;
    font-size: 14px;
}
.search input::placeholder{
    font-size: 14px;
    color: #444;
}
.search .search-icon{
    height: 50px;
    width: 60px;
    background: var(--primary-color);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.search .search-icon ion-icon{
    color: #fff;
    font-size: 24px;
}
.search-category{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-category select{
    padding: 8px 6px;
    border-radius: 4px;
    font-size: 14px;
    font-family: var(--secondry-font);
    border: 1px solid var(--primary-color);
    cursor: pointer;
}
.advanced-options a{
    color:#fff;
    font-size: 15px;
    font-family: var(--secondry-font);
}
.advanced-options a:hover{
    color: var(--primary-light-color);
    text-decoration: none;
}
.category-dropdown{
    padding: 0;
}


/* ========================Properties Section Started==================
 	---------------------------------------------------------------------- */
.properties-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.property-item{
     display: flex;
     background: #eee;
     border-radius: 8px;
     margin-bottom: 40px;
     width: 48%;
}
.property-item .property-image{
    height: 270px;
}
.property-item .property-image img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
.property-description-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.property-description{
    padding:0 12px;
}
.property-item-title{
    font-size: 20px;
    font-family: var(--primary-font);
    color: var(--primary-dark2-color);
    line-height: 20px;
}
.property-item-price{
    font-size: 16px;
    font-family: var(--secondry-font);
    color: var(--primary-color);
    margin-top: 8px;
}
.property-item-location{
    font-size: 14px;
    font-family: var(--secondry-font);
    margin-top: 8px;
    color: #444;
}
.property-item ion-icon{
    margin-bottom: -2px;
    font-size: 16px;
    color: var(--primary-dark2-color);
}
.property-item-details{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.property-item-details .detail{
    color: #444;
    font-size: 15px;
    font-family: var(--secondry-font);
    width: 50%;
    margin-top: 8px;
}
.property-item-details .detail a{
    color: #444;
}
.property-item-details .detail a:hover{
    color: #000;
    text-decoration: none;
}
.property-id-and-detailsBtn{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.property-id-and-detailsBtn button:hover{
    background: var(--primary-dark-color);
}
.property-id-and-detailsBtn .property-id{
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    font-family: var(--secondry-font);
    color: var(--primary-color);
    width: 70%;
}
.property-id-and-detailsBtn .property-item-details{
    padding: 4px 8px;
    font-size: 14px;
    font-family: var(--secondry-font);
    border-style: none;
    background: var(--primary-color);
    color: #fff;
    border-radius: 4px;
}
.more-properties-button button{
    background: var(--primary-color);
    color: var(--primary-light2-color);
    border-style: none;
    border-radius: 4px;
}
.more-properties-button button:hover{
    background: var(--primary-dark-color);
}

/* ========================Footer Section Started==================
 	---------------------------------------------------------------------- */
.footer-bottom{
    color: var(--primary-light2-color);
    background: var(--primary-dark2-color);
    padding: 15px 0;
    font-size: 14px;
    font-family: var(--secondry-font);
}
.footer-bottom a{
    color: var(--primary-light2-color);
}
.footer-bottom a:hover{
    color: var(--primary-light-color);
    text-decoration: none;
}
.footer-bottom .powered-by{
    text-align: right;
}


/* ================================================================================
====================== Media Queries for responsiveness ======================= */

@media screen and (max-width: 1100px) {
    /* properties */
    .properties-content{
        display: inline-block;
        width: 100%;
    }
    .property-item{
        width: 100%;
    }
    .property-item .property-image{
        height: 260px;
    }
}
@media screen and (max-width: 992px) {
    /* header */
    .mobileMenuBars ion-icon{
        display: block;
    }  
    .header-menu, #signIn-Register, #submit-property, #language{
        display: none;
    }

    /* hero section */
    .hero-section{
        height: 45vh;
    }
    .hero-content{
        width: 80%;
    }

    /* bottom - footer */
    .privacy-policy{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    /* hero section */
    .hero-content{
        width: 95%;
    }

    /* .footer-bottom */
    .footer-bottom .powered-by, .copyright{
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    /* properties */
    .property-item{
        display: block;
        margin: 0;
        margin-bottom: 40px;
    }
    .property-description{
        padding:25px 08px;
    }
}

@media screen and (max-width: 450px) {
    /* hero section */
    .hero-section{
        height: 55vh;
    }
}

@media screen and (max-width: 360px) {
}